<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fis.web.modules.songmain.db.mapping.SelectMapper">
<select id="getSongMainList" resultType="com.fis.web.modules.songmain.model.SongMain">
SELECT a.*,(@IDRank:= @IDRank+1) AS IDRank FROM SongMain a,(SELECT @IDRank:=-1) b
</select>
</mapper>