<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <!-- spring扫包 -->
    <context:component-scan base-package="com.fis.web"/>
    <!-- properties配置文件中变量属性 -->
    <context:property-placeholder location="classpath:properties/app.properties"/>
    <!-- 线程池加载 -->
    <import resource="classpath:/spring/task-executor.xml"/>
    <!-- 数据库连接池 -->
    <import resource="classpath:/spring/spring-db.xml"/>
    <!-- aop切面 -->
    <aop:aspectj-autoproxy/>
    <!-- 数据库连接池 -->
    <import resource="classpath:/redis.xml"/>
</beans>